.body {
  transition: ease 0.5s;
}

.navigation {
  background-color: $offwhite;
  position: fixed;
  width: 100%;
  //-webkit-transition: all 0.5s ease-in-out;
  z-index: 999;
  a {
    color: black;
    text-decoration: none;
    margin-left: 24px;
  }
  img {
    height: 64px;
    padding: 8px 0 8px 0;
  }
}

.navigation.hide {
  display: none!important;
  //-webkit-transition: all 0.5s ease-in-out;
}

.container-nav {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px 0 8px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $blue;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.main-title h1 {
  font-size: 25vw;
  line-height: 1;
  //font-family: "Sajola-Bold";
  display: flex;
  justify-content: center;
  transition: ease 0.5s;
}

.main-title-t {
  max-width: 1280px;
  margin: auto;
  padding: 40px;
}

.main-title-t img {
  transition: ease 0.5s;
  width:100%;
}

.main-title.scrolled {
  font-size: 0;
  left: 10%;
  transform: none;
  transition: ease 0.5s;
  //z-index: 2;
}

.hero-old {
  background-image: asset-url("martir-hero02.png");
  mix-blend-mode: darken;
  background-size: cover;
  height: 99vh;
  width:100%;
  background-position: center bottom;
  padding: 0;
  margin-top: -140px;
}

.hero img {
  mix-blend-mode: darken;
  width:100vw;
  padding: 0;
  margin-top: -140px;
}

.main-subtitle {
  max-width: 1280px;
  margin: auto;
  padding: 128px 40px 0 40px;
}

.about-martir {
  width:50%;
}

.main-about {
  max-width: 1280px;
  margin: auto;
  padding: 40px 40px 0 40px;
  background-attachment: fixed;
}

.about-tragaluz {
  width: 50%;
  padding: 0 64px 0 0;
  margin: 0;
  p {
    margin: 0;
    padding: 0;
  }
}

.about-images {
  width: 50%;
  background-image: asset-url("fachada-martir.png");
  background-size: cover;
  height: 88vh;
  padding: 0;
  background-position: left bottom;
}

.breath {
  height: 10vh;
}

.loop {
  background-image: asset-url("martir-loop.gif");
  height: 100vh;
  background-size: 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  mix-blend-mode: darken;
  background-position: center;
  }

.artistas-obras {
  //margin-top: 36px;
  margin-bottom: 96px;
  height: 120vh;
  border-radius: 48px;
  padding: 0;
}

.artistas-obras img {
  width: 100vw;
}

.box-tragaluz {
  max-width: 1280px;
  margin: auto;
  margin-top: 128px;
  padding: 40px;
    h3 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 20px;
      width: 100%;
    }
    img {
      width: 36%;
      //border-radius: 16px;
    }
    p {
      width: 54%;
    }
}


///////////// FOOTER //////////////////

.footer {
  width: 100%;
  margin-top: 80px;
  background-color: $orange;
  border-radius: 32px 32px 0 0;
  height: 160px;
  font-size: 12px;
  align-items:center;
}

.footer .container {
  max-width: 1280px;
  margin: auto;
  padding: 32px;
  //height: 400px;
}

.footer-infos {
  width: 60%;
}


//////////////////////////////////////////////////////////////////////////////
///                            MEDIA QUERIES                               ///
//////////////////////////////////////////////////////////////////////////////


@media (min-width: 491px) {
  .main-about-mobile,
  .about-tragaluz-mobile,
  .about-images-mobile {
    display: none;
  }
}

@media (min-width: 921px) {
  .artistas-obras-img-mobile {
    display:none;
  }
}


@media (max-width: 1280px) {
  .main-subtitle,
  .main-about {
    padding-left: 64px;
    padding-right: 64px;
  }

  .main-subtitle {
    padding-top: 64px;
  }

  .main-title h1 {
    font-size: 28vw;
  }

  .about-tragaluz {
    padding-right: 48px;
  }

  .main-about {
    padding-top: 32px;
  }

}


@media (max-width: 920px) {
  .main-subtitle,
  .main-about {
    padding-left: 36px;
    padding-right: 36px;
  }

  .main-subtitle {
    padding-top: 36px;
  }

  .about-images {
    height: 56vh;
  }

  .about-tragaluz {
    padding-right: 36px;
  }

  .main-about {
    padding-top: 24px;
  }

  .artistas-obras-img-desktop {
    display:none;
  }

  .artistas-obras img {
    padding: 80px 0;
  }

  .loop {
    background-size: 96%;
  }
}

@media (max-width: 820px) {
  .footer {
    height: 220px;
  }

  .footer .container{
    flex-direction: column;
    align-items: start;
  }

  .footer img {
    margin-bottom: 40px;
  }

  .footer-infos {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-subtitle,
  .main-about {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main-subtitle {
    padding-top: 24px;
  }

  .about-images {
    height: 56vh;
  }

  .about-tragaluz {
    padding-right: 24px;
  }

    .hero img {
      margin-top: -80px;
    }
}

@media (max-width: 600px) {
  .footer {
    height: 380px;
  }

  .footer-infos {
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .main-subtitle {
    flex-direction: column;
    align-items: center;
    padding-right: 36px;
    padding-left: 36px;
  }
  .title-mostra {
    width:100%;
  }
  .about-martir {
    width:100%;
    padding-top: 24px;
  }

  .main-about,
  .about-tragaluz,
  .about-images {
    display: none;
  }

  .main-about-mobile {
    padding-right: 36px;
    padding-left: 36px;
  }

  .about-images-mobile {
    width:100%;
    background-image: asset-url("fachada-martir.png");
    background-size: cover;
    height: 70vh;
    background-position: left bottom;
    padding: 0;
  }

  .about-tragaluz-mobile {
    width:100%;
    padding-top: 36px;
  }

  .artistas-obras {
    margin-bottom: 56px;
  }

  .breath {
    height: 0;
    display:none;
  }

  .hero img {
    margin-top: -50px;
  }

  .loop {
    margin-top: -100px;
    background-attachment: scroll;
    margin-bottom: -70px;
    }

}
