.body {
  transition: ease 0.5s;
}

.nav {
  background-color: $offwhite;
  position: fixed;
  width: 100%;
  //-webkit-transition: all 0.5s ease-in-out;
  z-index: 999;
  a {
    color: black;
    text-decoration: none;
  }
  img {
    height: 64px;
    padding: 8px;
  }
}

.nav.hide {
  display: none;
  //-webkit-transition: all 0.5s ease-in-out;
}

.main-title {
  font-size: 25vw;
  line-height: 1;
  font-family: "Sajola-Bold";
  display: flex;
  justify-content: center;
  transition: ease 0.5s;
}

.main-title.scrolled {
  font-size: 0;
  left: 10%;
  transform: none;
  transition: ease 0.5s;
  //z-index: 2;
}

.hero {
  background-image: asset-url("martir-hero02.png");
  mix-blend-mode: darken;
  background-size: cover;
  height: 98vh;
  background-position: center top;
  padding: 0;
  margin-top: -140px;
}

.main-subtitle {
  max-width: 1200px;
  margin: auto;
  padding: 128px 40px 0 40px;
}

.about-martir {
  width:50%;
}

.main-about {
  max-width: 1200px;
  margin: auto;
  padding: 40px 40px 0 40px;
  background-attachment: fixed;
}

.about-tragaluz {
  width: 50%;
  padding: 0 64px 0 0;
  margin: 0;
  p {
    margin: 0;
    padding: 0;
  }
}

.about-images {
  width: 50%;
  background-image: asset-url("galeria.png");
  background-size: cover;
  height: 80vh;
  background-position: center top;
  padding: 0;
}

.breath {
  height: 30vh;
}

.loop {
  background-image: asset-url("martir-loop.gif");
  height: 100vh;
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  mix-blend-mode: darken;
  background-position: center;
  }

.artistas-obras {
  //margin-top: 36px;
  margin-bottom: 96px;
  height: 98vh;
  border-radius: 48px;
  padding: 0;
}

.artistas-obras img {
  width: 100vw;
}

.footer {
  width: 100%;
  margin-top: 124px;
  background-color: $cream;
  border-radius: 32px 32px 0 0;
  height: 160px;
  font-size: 12px;
  align-items:center;
}

.footer .container {
  max-width: 1200px;
  margin: auto;
  padding: 32px;
}


//////////////////////////////////////////////////////////////////////////////
///                            MEDIA QUERIES                               ///
//////////////////////////////////////////////////////////////////////////////


@media (min-width: 491px) {
  .main-about-mobile,
  .about-tragaluz-mobile,
  .about-images-mobile {
    display: none;
  }
}

@media (min-width: 921px) {
  .artistas-obras-img-mobile {
    display:none;
  }
}


@media (max-width: 1280px) {
  .main-subtitle,
  .main-about {
    padding-left: 64px;
    padding-right: 64px;
  }

  .main-subtitle {
    padding-top: 64px;
  }

  .main-title h1 {
    font-size: 28vw;
  }

  .about-tragaluz {
    padding-right: 48px;
  }

  .main-about {
    padding-top: 32px;
  }

}


@media (max-width: 920px) {
  .main-subtitle,
  .main-about {
    padding-left: 36px;
    padding-right: 36px;
  }

  .main-subtitle {
    padding-top: 36px;
  }

  .about-images {
    height: 64vh;
  }

  .about-tragaluz {
    padding-right: 36px;
  }

  .main-about {
    padding-top: 24px;
  }

  .artistas-obras-img-desktop {
    display:none;
  }

  .artistas-obras img {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  .main-subtitle,
  .main-about {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main-subtitle {
    padding-top: 24px;
  }

  .about-images {
    height: 50vh;
  }

  .about-tragaluz {
    padding-right: 24px;
  }

  .footer {
    height: 220px;
  }

  .footer .container{
    flex-direction: column;
    align-items: start;
  }

  .footer img {
    margin-bottom: 32px;
  }

  .loop {

    background-size: 90%;

    }
}

@media (max-width: 490px) {
  .main-subtitle {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 36px;
  }
  .title-mostra {
    width:75%;
  }
  .about-martir {
    width:75%;
    padding-top: 24px;
  }

  .main-about,
  .about-tragaluz,
  .about-images {
    display: none;
  }

  .main-about-mobile {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 36px;
    padding-left: 24px;
  }

  .about-images-mobile {
    width:75%;
    background-image: asset-url("galeria.png");
    background-size: cover;
    height: 64vh;
    background-position: center top;
    padding: 0;
  }

  .about-tragaluz-mobile {
    width:75%;
    padding-top: 36px;
  }

  .artistas-obras {
    margin-bottom: 56px;
  }

  .breath {
    height: 20vh;
  }

}
