<div class="footer d-flex justify-content-between">
  <div class="container d-flex justify-content-between">
    <div><%= image_tag "martir_logo_footer.svg" %></div>
    <div class="d-flex footer-infos justify-content-between">
       <div class="mb-3"> FUNCIONAMENTO:  <br> Qui à Sáb <br> 10h às 17h</div>
      <div class="mb-3"> CONTATO:  <br> info@martir.org <br>@martir.tiradentes</div>
      <div class="mb-3"> ENDEREÇO: <br>Rua Direita, 44 – Centro Histórico<br>Tiradentes – MG / Brasil</div>
    </div>
  </div>
</div>
