<div class="footer d-flex justify-content-between">
  <div class="container d-flex justify-content-between">
    <div><%= image_tag "martir_logo_footer.svg" %></div>
    <div class="d-flex">
       <div> FUNCIONAMENTO:  <br> Qui à Sáb <br> 10h às 17h</div>
      <div style="margin-right: 48px; margin-left: 48px;"> CONTATO:  <br> info@martir.org <br>@martir.tiradentes</div>
      <div> ENDEREÇO: <br>Rua Direita, 44 – Centro Histórico<br>Tiradentes – MG / Brasil</div>
    </div>
  </div>
</div>
