<div class="footer d-flex justify-content-between">
  <div class="container d-flex justify-content-between">
    <div><%= image_tag "martir_logo_footer.svg" %></div>
    <div class="d-flex">
      <div> <span style="margin-right: 48px;"> INSTAGRAM: </span> <br> @martir.org</div>
      <div> <span> ENDEREÇO: </span><br>Rua Direita, 44 – Centro Histórico<br>Tiradentes – MG/Brasil</div>
    </div>
  </div>
</div>
