// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "actiontext";


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  animation: fadeInAnimation ease 0.8s;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
      transform: translateY(16px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;

}
 p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
 }

 .bg-offwhite {
  background-color: $offwhite;
 }

 .bg-cream {
  background-color: $cream;
 }

 .color-bk {
  color: $black;
 }

 .color-blu {
  color: $blue;
 }

 .color-white {
  color: $white;
 }

 .row > * {
  padding: 0;
 }

 @media (max-width:1280px) {
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 24px;
  }
 }

 @media (max-width:920px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
 }

 @media (max-width:768px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 16px;
  }
 }

 @media (max-width:576px) {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 11px;
  }
 }
